
<h1>Sign up</h1>
<%= form_for @user do |f| %>
<% if @user.errors.any? %>
	<div id="error_explanation">
	  <h2>
	    S-au gasit <%= pluralize(@user.errors.count, 'error') %> erori la salvare: 
	  </h2>
	  <ul>
	    <% @user.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	  </ul>
	</div>
	<% end %>
	<%= f.text_field :first_name.downcase, :placeholder => "Prenume" %>
	<%= f.text_field :last_name.downcase, :placeholder => "Nume" %>
	<%= f.email_field :email.downcase, :placeholder => "Email" %>
	<%= f.password_field :password, :placeholder => "Parola" %>
	<%= f.text_field :phone, :placeholder => "Numar telefon" %>
	<%= f.text_field :address.downcase, :placeholder => "Adresa" %>
	<%= f.submit "Submit" %>
	<br/> 
	<%= link_to 'Inapoi', menus_path %>
<% end %>	