<h1>Editare comanda</h1>
<p><%= @order.user.first_name.capitalize %> <%= @order.user.last_name.capitalize %></p>
<p><%= @order.menu.title %></p>

<%= form_for @order do |each| %>
	<%= each.hidden_field :status, value: "livrata" %>
	<%= each.submit "Livreaza" %>
<% end %>
<br/>
<%= link_to 'Inapoi la meniuri', menus_path %>